/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.section {
    display: block;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    max-width: 100%;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/******* header/NavBar ********/

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.links {
    list-style: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1px;
}

.links a {
    border-top: 2px solid transparent;
    display: block;
    padding-top: 7px;
}
.links a.active, .links a:active {
    border-color: #0065FC;
}
.links a:hover {
    color: #0065FC;
    border-color: #0065FC;
}
 

.element-style {
    padding-left: 10px;
}


.a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    list-style: none;
}

.a:hover {
    color: #0065FC;
}

.logo {
    display: flex;
    width: 25px;
    height: 25px;
}



header {

    position: relative;
    padding: 0;
}

/********* Hebergement vacances  barre de recherche ********/


.hebergement-vacances {
    display: block;
    padding-top: 5%;
    padding-left: 0;
}

.filtres {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 20px;
    padding-top: 6px;
}

.filtre {
    display: block;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding-right: 20px;
    
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.filtre.filtre-info {
    padding: 3px;
    width: 25px;
    text-align: center;
    font-size: 12px;
}
.filtre.filtre-info i {
    padding: 0;
}
.filtre i {
    padding: 0px 5px 0 20px;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.filters-titre {
    padding-top: 10px;
}


.search {
    display: flex;
    
    
}
.search-location {
    background-color: var(--main-bg-color);
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    width: 40px;
}
.icon-location {
    color: #000;
    position: relative;
    width: 40px;
    height: 40px;
}
.icon-location::before {
    position: absolute;
    top: 13px;
    left: 15px;
}

.search-bar {
    border: none;
    background-color: #DEEBFF;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border-top: 2px solid var(--main-bg-color);
    border-bottom: 2px solid var(--main-bg-color);
    color: #000;
    font-weight: bold;
}
.search-bar::placeholder {
    color: #000;
    font-weight: bold;
}
.search-bar:focus {
    border: none;
    outline: none;
}

.search-bar:focus-within {
    border: 0.5px solid #0065FC;
}

.search-btn {
    width: 10%;
    border: #0065FC;
    background-color: #0065FC;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    width: 100px;
    font-weight: bold;
}

.logements-dispo {
    display: flex;
    gap: 10px;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    flex-wrap: nowrap;
}



.filters {
    display: flex;
    flex-direction: row;
}


/******** Hebergements à Marseille *******/

.hebergements-a-Marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}




/****** Hebergements And Populaires ***********/


.hebergement-wrapper {
    display: flex;
}
.hebergements-a-Marseille {
    width: 70%;
}
.hebergements-and-populaires {
    display: block;
    width: 29%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-left: 1%;
}


.Marseille-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Marseille-cards {
    display: flex;
    flex-wrap: wrap;
}

.Marseille-cards .card {
    display: block;
    margin-top: 33px;
    width: 32%;
    margin-left: 2%;
}
.Marseille-cards .card:nth-child(1),.Marseille-cards .card:nth-child(4),.Marseille-cards .card:nth-child(7) {
    margin-left: 0;
}

.Marseille-cards .card a {
    display: block;
}

.Marseille-cards img {
    width: 100%;
    height: 136px;
    border-radius: 20px;
    object-fit: cover;
}

.Marseille-cards .card-content{
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.text-content {
    display: block;
    margin-top: 10%;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*******Activités à Marseille*********/

.activites-a-Marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.activites {
    width: 100%;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-a-Marseille-cards a {
    display: block;
    width: 25%;
}

.activites-a-Marseille-cards .card {
    display: block;
    margin-top: 33px;
    width: 100%;
    padding: 0;
}
.activites-a-Marseille-cards a:nth-child(2),.activites-a-Marseille-cards a:nth-child(3), .activites-a-Marseille-cards a:nth-child(4){
    margin-left: 15px;
}


.activites-a-Marseille-cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.activites-a-Marseille-cards .card a {
    display: flex;
}

.activites-a-Marseille-cards img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.activites-a-Marseille-cards .card-content {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

/******* Footer ******/

.footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    background-color: var(--main-bg-color);
}

.block {
    width: 25%;
    margin: 0 30px;
}

.footer-content h5,
.footer-a-propos h5,
.footer-hebergements h5,
.footer-assistance h5 {
    font-size: 25px;
    padding-bottom: 20px;
}

.a-propos,
.nos-hebergements,
.assistance {
    list-style-type: none;
    padding-left: 0%;
}

.a-propos li,
.nos-hebergements li,
.assistance li {
    padding: 2px 0;
}

.a-propos a,
.nos-hebergements a,
.assistance a {
    text-decoration: none;
    color: #333;
}

.liste-services a:hover {
    color: rgb(3,3,3);
}
.search-btn .desktop {
    display: inline;
}
.search-btn .mobile {
    display: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergement-wrapper {
        display: flex;
        flex-direction: column;
    }

    .hebergements-a-Marseille {
        width: auto;
    }

    .activites-a-Marseille {
        width: auto;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .search-btn .desktop {
        display: none;
    }
    .search-btn .mobile {
        display: inline;
        color: white;
        font-size: 15px;
    }
    .search-btn {
        width: 40px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px lightgray;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        margin-top: 20px;

    }

    .logo {
        display: flex;
        flex-direction: column;
        width: 70px;
        justify-content: center;
    }


    .links {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
       
        gap: 0;
        justify-content: start;
        width: 100%;
        align-items: start;
        padding-left: 0;
    }
    .links li {
        width: 50%;
        text-align: center;
    }

    
    .links a {
        border-top: none;
        border-bottom: 2px solid transparent;
        padding-bottom: 7px;
    }

    .hebergements-and-populaires,.hebergements-a-Marseille {
        border-radius: 0;
    }
    .hebergements-a-Marseille {
        background-color: white;
    }

    .hebergement-vacances {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .hebergement-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .filtres {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: baseline;
    }
    .filters {
        display: block;
    }
    .found-hebergement-vacances {
        padding-left: 10px;
    }
    .footer-content {
       display: block;
       padding-top: 20px;
    }
    .Marseille-cards, .populaires-cards, .activites-a-Marseille-cards {
        display: block;
    }
    .Marseille-cards .card, .activites-a-Marseille-cards a {
        width: auto;
    }
    .main-container {
        padding: 0;
    }
    .block {
        width: 100%;
        margin: 0;
        padding-left: 30px;
    }
    .Marseille-cards .card {
        margin-left: 0;
    }
    .assistance {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .img-overflow {
        height: 150px;
        overflow: hidden;
        border-radius: 20px;
    }
    .Marseille-cards .img-overflow img {
        position: relative;
        top: -45px;
        width: 100%;
        height: auto;
    }
    .Marseille-cards img {
        width: 80vw;
        height: 150px;
    }
    .activites-a-Marseille-cards a {
        margin-left: 0;
    }
    .activites-a-Marseille-cards a:nth-child(2),.activites-a-Marseille-cards a:nth-child(3), .activites-a-Marseille-cards a:nth-child(4){
        margin-left: 0px;
    }
    
    /* ... */
}